@import url(https://fonts.googleapis.com/css?family=Inter);

.content{
    margin-left: 20rem;
}

.content > h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;

    color: #394050;
}

.content > h3 {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
}

.content > ul {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    
    color: #858585;
}

.content li {
    margin-top: 0.5rem;
}

.content > p {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    
    color: #858585;
}

.Box {
    width: 251px;
    height: 167px;
    position: absolute;
    left: 1000px;
    top: 290px;
}

.EachBox {
    display: flex;
    position: relative;
}

.ApplyBtn {
    width: 251px;
    height: 35px;
    border: hidden;
    border-radius: 5px;
    background-color: #4980EE;
    margin-top: 1rem;
    
    color:  #FFFFFF ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}

.Label {
    position: absolute;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #858585;
}

.Introduce {
    margin-left: 5.5rem;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    
    color: #4980EE;
    
}

.Hr {
    background: #D9D9D9;
}




